@import "tailwindcss";
.mood-empty {
  fill: #e5e7eb;
}

.mood-1 {
  fill: #fcd34d; /* Happy */
}
.mood-2 {
  fill: #a1a1aa; /* Neutral */
}
.mood-3 {
  fill: #60a5fa; /* Sad */
}
.mood-4 {
  fill: #f87171; /* Angry */
}
.mood-5 {
  fill: #fbbf24; /* Anxious */
}

.btn-tab {
  @apply flex items-center bg-white shadow px-4 py-2 rounded hover:bg-indigo-50 text-sm font-semibold text-indigo-600 transition-all;
}

.btn-tab {
  @apply flex items-center bg-white px-4 py-2 rounded shadow hover:bg-indigo-50 text-sm font-semibold text-indigo-600 transition-all;
}
